In [5]:
import os
import pandas as pd
os.getcwd()  # Ensure the current working directory is set correctly

'c:\\Users\\amirr\\OneDrive\\Desktop\\Programming Projects\\OncoVision\\back-end\\notebooks'

In [12]:
df = pd.read_csv("../ai/dataset/breast-cancer-images.csv")
df.head()

   fold  mag    grp                                           filename
0     1  100  train  BreaKHis_v1/histology_slides/breast/benign/SOB...
1     1  100  train  BreaKHis_v1/histology_slides/breast/benign/SOB...
2     1  100  train  BreaKHis_v1/histology_slides/breast/benign/SOB...
3     1  100  train  BreaKHis_v1/histology_slides/breast/benign/SOB...
4     1  100  train  BreaKHis_v1/histology_slides/breast/benign/SOB...

In [13]:
df.info()  # Check the data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39545 entries, 0 to 39544
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fold      39545 non-null  int64
 1   mag       39545 non-null  int64
 2   grp       39545 non-null  object
 3   filename  39545 non-null  object
dtypes: int64(2), object(2)
memory usage: 1.2+ MB

In [11]:
df.describe()  # Get a summary of the dataset

               fold           mag
count  39545.000000  39545.000000
mean       3.000000    179.352636
std        1.414231    133.669274
min        1.000000     40.000000
25%        2.000000     40.000000
50%        3.000000    100.000000
75%        4.000000    200.000000
max        5.000000    400.000000